<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla ::head}">
        <title>TICORGANIKO</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla ::header}"></header>

        <form th:action="@{/perfil/modificar}" method="post" enctype="multipart/form-data" th:object="${cliente}">

            <section th:fragment="ModificaPerfil" id="main-header" class="py-0">
                <div class="container">


                    <div class="row">
                        <div class="col-md-8">
                            <div class="user-info">
                                <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditarImagen" id="imgEditar">
                                    <i class="fa-solid fa-camera"></i> Actualizar Imagen</button>
                                <img th:src="@{${cliente.rutaImagen}}" class="rounded-circle smaller-profile-img" alt="FotoPerfil" height="120"/>
                                <div>
                                    <h5 style="color: black; margin-top: 15px;" th:text="${cliente.nombre}"></h5>
                                    <p style="color: black">
                                        <strong>Username: </strong><span th:text="${cliente.username}"></span>
                                        <br>
                                            <strong>Dirección: </strong><span th:text="${cliente.direccion}"></span>
                                    </p>
                                </div>
                            </div>

                            <!-- Modal para actualizar la Imagen del Perfil -->
                            <div class="modal fade" id="modalEditarImagen" tabindex="-1" aria-labelledby="modalEditarImagenLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalEditarImagenLabel" style="color: black;">Actualizar Imagen de Perfil</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Formulario para actualizar la imagen -->
                                            <form th:action="@{/perfil/actualizar-imagen}" method="post" enctype="multipart/form-data">
                                                <div class="mb-3">
                                                    <label for="imagenFile" class="form-label" style="color: black;">Seleccionar nueva imagen</label>
                                                    <input type="file" class="form-control" id="imagenFile" name="imagenFile" onchange="readURL(this);"/>
                                                    <img id="blah" src="#" alt="your image" height="200"/>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Confirmar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div id="cardCredenciales" class="card bg-primary text-white">
                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 15px;">
                                        <label for="inputNombreCompleto" class="form-label">Nombre Completo</label>
                                        <input type="text" class="form-control custom-field" id="inputNombreCompleto" th:field="*{nombre}" required>
                                    </div>

                                    <div class="col-md-6" style="padding-top: 15px;">
                                        <label for="inputEmail" class="form-label">Correo Electrónico</label>
                                        <input type="email" class="form-control custom-field" id="inputEmail" th:field="*{correo}" required>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 15px;">
                                        <label for="inputCedula" class="form-label">Número de Cedula</label>
                                        <input type="text" class="form-control custom-field" id="inputCedula" th:field="*{cedula}" required>
                                    </div>

                                    <div class="col-md-6" style="padding-top: 15px;">
                                        <label for="inputTelefono" class="form-label">Número de Teléfono</label>
                                        <input type="text" class="form-control custom-field" id="inputTelefono" name="numeroTelefono" th:field="*{numeroTelefono}">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 15px;">
                                        <label for="inputDireccionResidencia" class="form-label">Dirección de Residencia</label>
                                        <textarea class="form-control custom-field" id="inputDireccionResidencia" rows="5" style="height: 80px;" th:field="*{direccion}"></textarea>
                                    </div>

                                    <div class="col-md-6" style="padding-top: 15px;">
                                        <label for="inputContraseña" class="form-label" style="padding-top: 40px;">Contraseña</label>
                                        <input type="password" class="form-control custom-field" id="inputContraseña" th:value="${cliente.password}" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 15px;">
                                        <label for="inputMetodoPago" class="form-label">Método de Pago</label>
                                        <select id="inputMetodoPago" class="form-select custom-field" readonly>
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-13 d-flex justify-content-end align-items-center">
                                    <a th:href="@{/perfil/modificar}">
                                        <button id="btnEditarGuardar" type="submit" class="btn btn-dark card-button">Guardar Cambios</button>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="list-group list-group-flush overflow-auto">
                                <div id="cardHistorial" class="card bg-primary text-white">
                                    <!-- aqui va el contenido del carHistorial -->
                                    <h4 style="text-align: center;
                                        font-family: Arial Black, sans-serif;">Historial de Compras</h4>

                                    <ol class="list-group list-group-flush scroll-list" style="padding-right: 10px;
                                        padding-left: 10px;">
                                        <li id="identificadorLista" class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">Nombre del Producto</div>
                                                Precio Total
                                            </div>
                                            <span class="badge bg-light rounded-pill text-black">17 Dias</span>
                                        </li>
                                        <li id="identificadorLista" class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">Nombre del Producto</div>
                                                Precio Total
                                            </div>
                                            <span class="badge bg-light rounded-pill text-black">30 Dias</span>
                                        </li>
                                        <li id="identificadorLista" class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">Nombre del Producto</div>
                                                Precio Total
                                            </div>
                                            <span class="badge bg-light rounded-pill text-black">3 Dias</span>
                                        </li>
                                        <li id="identificadorLista" class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">Nombre del Producto</div>
                                                Precio Total
                                            </div>
                                            <span class="badge bg-light rounded-pill text-black">11 Dias</span>
                                        </li>
                                        <li id="identificadorLista" class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">Nombre del Producto</div>
                                                Precio Total
                                            </div>
                                            <span class="badge bg-light rounded-pill text-black">29 Dias</span>
                                        </li>
                                        <li id="identificadorLista" class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">Nombre del Producto</div>
                                                Precio Total
                                            </div>
                                            <span class="badge bg-light rounded-pill text-black">17 Dias</span>
                                        </li>
                                        <li id="identificadorLista" class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">Nombre del Producto</div>
                                                Precio Total
                                            </div>
                                            <span class="badge bg-light rounded-pill text-black">7 Dias</span>
                                        </li>
                                        <li id="identificadorLista" class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">Nombre del Producto</div>
                                                Precio Total
                                            </div>
                                            <span class="badge bg-light rounded-pill text-black">7 Dias</span>
                                        </li>
                                        <li id="identificadorLista" class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">Nombre del Producto</div>
                                                Precio Total
                                            </div>
                                            <span class="badge bg-light rounded-pill text-black">7 Dias</span>
                                        </li>
                                        <li id="identificadorLista" class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">Nombre del Producto</div>
                                                Precio Total
                                            </div>
                                            <span class="badge bg-light rounded-pill text-black">7 Dias</span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>

        <footer th:replace="~{layout/plantilla ::footer}"></footer>
    </body>
</html>

<!-- Este html es para el panel de modificar -->
