/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 21, 2023, 9:22:50 PM
    Author     : ferva
*/
/* Comentario */

/*//////////Plantilla//////////*/

.form-inline {
    width: 30%; /* Ancho del nav */
}

.header {
    background-color: #007BFF;
    padding: 0px 0; /* Espaciado del encabezado */
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-item a {
    font-size: 18px;
}

.footer {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 0; /* Espaciado del pie de página */
    margin-top: 30px;
}

/*//////////Panel Index//////////*/

#tarjetas-section{
    padding-top: 15px;
}

#main-header {
    background-color: #fff;
    color: #fff;
    padding: 10px 0; /* Espaciado de la sección principal del encabezado */
}

#main-header h1 {
    font-size: 27px;
    color: #000;
    margin-top: 15px; /* Margen superior del ttulo principal */
}

.card {
    text-align: left; /* Alineación del texto en las tarjetas */
    font-size: 18px; /* Tamaño de fuente en las tarjetas */
}

.card-container {
    margin: 20px auto;
}

/*//////////Panel Usuario//////////*/

.input-group-narrow {
    max-width: 440px; /* Establece el ancho máximo a tu preferencia */
    margin-left: 0px; /* Ajusta el margen izquierdo a tu preferencia */
}

.smaller-profile-img { /*Ajusta la imagen de usuario*/
    max-width: 135px; /* Ajusta el ancho máximo según tus preferencias */
}

.user-info {

    display: flex;
    align-items: center;
}

.user-info img {
    float: left;
    margin-top: 25px;
    margin-right: 10px; /* Ajusta el margen a tu preferencia */
    border: 3px solid black;
}


.col-md-6 {
    max-width: 440px; /* Establece el ancho máximo a tu preferencia */
    margin-left: 0px; /* Ajusta el margen izquierdo a tu preferencia */
}


#cardCredenciales {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: 0px;
    border: 2px solid #000;
    border-radius: 25px;
    margin-top: 30px;
    max-width: 815px;
}

#cardHistorial {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-top: 30px;
    margin: 0px;
    border: 2px solid #000;
    border-radius: 25px;
    margin-top: 30px;
    max-width: 815px;
}

/* Estilo para el botón en la tarjeta */
.card button {
    float: right; /* Alinea el botón a la derecha */
    margin-top: -40px; /* Ajusta el margen superior */
    padding: 9px 30px;
    font-size: 1.1rem;
    /*margin-right: -384px; Ajusta el margen derecho 
    padding-left: 100px;
    padding-top: 20px;*/
}


.col-md-6{
    padding-top: 20px;
}


#identificadorLista {
    background-color: #0D6EFD;
    color: white;
}

.scroll-list { /*propiedades del scroll del card-historial*/
    max-height: 510px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto;
}

/* estilos.css */


