<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head th:replace= "~{layout/plantilla ::head}">
        <title>TICORGANIKO</title>
        <link rel="stylesheet" type="text/css" href="estilos.css">
    </head>
    <body>
        <header th:replace= "~{layout/plantilla ::header}"/>
         <section th:fragment="PanelProducto" id="main-header" class="py-0">           
            <div class="container" style ="margin-top: 10px;">
                <div class="row">
                    <div id="tarjetas-section" class="col-md-6" style ="margin-bottom: 20px;">
                        <h1>[[#{plantilla.carnes}]]</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <div class="card">               
                            <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/440772/Filete-De-Pollo-Pastoreo-Marca-Pipasa-Empacado-Precio-indicado-por-Kilo-1-88796.jpg?v=638294601780500000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Pollo - $5</p>
                            </div>
                        </div>   
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/338819/Molida-Res-Premium-No-Mas-10-Grasa-Tf-Kg-1-58514.jpg?v=637976651108370000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Carne Molida - $2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/165537/Alas-De-Pollo-Don-Cristobal-Bandeja-1Kg-1-49862.jpg?v=637536167952100000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Alitas - $1</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/352176/Carne-Don-Cristobal-Mechar-Res-Tenderizado-Empacado-1Kg-1-33536.jpg?v=638013045976170000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Res - $1</p>
                                </div>
                            </div>
                    </div>                  
                </div>  
                <div th:each="articulo : ${articulos}">
                    <div class="col-3">
                        <div class="card">
                            <a th:if="${articulo != null}" th:href="@{/articulos/detalleArticulo/{idArticulo}(idArticulo=${articulo.idArticulo})}">
                                test test
                            </a>
                        </div>
                    </div>
                </div>
            </div>    
        </section>            
        </section>    
                
        <footer th:replace= "~{layout/plantilla ::footer}"/>
    </body>
</html>