<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head th:replace= "~{layout/plantilla ::head}">
        <title>TICORGANIKO</title>
        <link rel="stylesheet" type="text/css" href="estilos.css">
    </head>
    <body>
        <header th:replace= "~{layout/plantilla ::header}"/>
         <section th:fragment="PanelProducto" id="main-header" class="py-0">           
            <div class="container" style ="margin-top: 10px;">
                <div class="row">
                    <div id="tarjetas-section" class="col-md-6" style ="margin-bottom: 20px;">
                        <h1>[[#{plantilla.chocolates}]]</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <div class="card">               
                            <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/287993/Chocolate-Snickers-Original-52-7gr-1-27216.jpg?v=637808279270500000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Snickers - $5</p>
                            </div>
                        </div>   
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/321658/Chocolate-Hersheys-Milk-Barra-43gr-1-32043.jpg?v=637916170499530000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Hersheys - $2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/448567/Chocolate-M-M-s-Man-49-3gr-1-27217.jpg?v=638307669873600000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">M&M's - $1</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/322446/Chocolate-Hersheys-Kisses-Regular-43gr-1-27957.jpg?v=637916390674930000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Kisses - $1</p>
                                </div>
                            </div>
                    </div>                  
                </div>  
                <div th:each="articulo : ${articulos}">
                    <div class="col-3">
                        <div class="card">
                            <a th:if="${articulo != null}" th:href="@{/articulos/detalleArticulo/{idArticulo}(idArticulo=${articulo.idArticulo})}">
                                test test
                            </a>
                        </div>
                    </div>
                </div>
            </div>    
        </section>            
        </section>    
                
        <footer th:replace= "~{layout/plantilla ::footer}"/>
    </body>
</html>