<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head th:replace= "~{layout/plantilla ::head}">
        <title>TICORGANIKO</title>
        <link rel="stylesheet" type="text/css" href="estilos.css">
    </head>
    <body>
        <header th:replace= "~{layout/plantilla ::header}"/>
         <section th:fragment="PanelProducto" id="main-header" class="py-0">           
            <div class="container" style ="margin-top: 10px;">
                <div class="row">
                    <div id="tarjetas-section" class="col-md-6" style ="margin-bottom: 20px;">
                        <h1>[[#{plantilla.congelados}]]</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <div class="card">               
                            <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/165615/PAPA-FRITA-GREAT-VALU-SAZONADA-GR-1814GR-1-35691.jpg?v=637536225108130000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Papas Fritas - $5</p>
                            </div>
                        </div>   
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <img class="card-img-top" src="https://walmartgt.vtexassets.com/arquivos/ids/184586/Aros-De-Cebolla-Great-Value-453gr-1-7391.jpg?v=637613730488300000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Aros de Cebolla - $2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/219757/Torta-Zaragoza-Congelado-Res-10unidades-740gr-1-25739.jpg?v=637617163865330000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Tortas Hamburguesa - $1</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/321187/Hashbrown-Great-Value-640gr-1-76105.jpg?v=637911096745630000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Hashbrowns - $1</p>
                                </div>
                            </div>
                    </div>                  
                </div>  
                <div th:each="articulo : ${articulos}">
                    <div class="col-3">
                        <div class="card">
                            <a th:if="${articulo != null}" th:href="@{/articulos/detalleArticulo/{idArticulo}(idArticulo=${articulo.idArticulo})}">
                                test test
                            </a>
                        </div>
                    </div>
                </div>
            </div>    
        </section>            
        </section>    
                
        <footer th:replace= "~{layout/plantilla ::footer}"/>
    </body>
</html>