<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head th:replace= "~{layout/plantilla ::head}">
        <title>TICORGANIKO</title>
        <link rel="stylesheet" type="text/css" href="estilos.css">
    </head>
    <body>
        <header th:replace= "~{layout/plantilla ::header}"/>
         <section th:fragment="PanelProducto" id="main-header" class="py-0">           
            <div class="container" style ="margin-top: 10px;">
                <div class="row">
                    <div id="tarjetas-section" class="col-md-6" style ="margin-bottom: 20px;">
                        <h1>[[#{plantilla.embutidos}]]</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <div class="card">               
                            <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/298399/Jamon-Land-O-Frost-En-Miel-Premium-454Gr-1-34528.jpg?v=637837546524300000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Jamon - $5</p>
                            </div>
                        </div>   
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/431399/Jam-n-Land-O-Frost-Pavo-Asado-Premium-454gr-1-34529.jpg?v=638273761787800000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Jamon de Pavo - $2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/294526/Mortadela-De-Soya-Con-Chile-Soyalight-200Gr-1-34607.jpg?v=637829014351330000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Mortadela - $1</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/291924/Salchich-n-Especial-Cinta-Azul-500Gr-2-32112.jpg?v=637821345764870000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Salchichon - $1</p>
                                </div>
                            </div>
                    </div>                  
                </div>  
                <div th:each="articulo : ${articulos}">
                    <div class="col-3">
                        <div class="card">
                            <a th:if="${articulo != null}" th:href="@{/articulos/detalleArticulo/{idArticulo}(idArticulo=${articulo.idArticulo})}">
                                test test
                            </a>
                        </div>
                    </div>
                </div>
            </div>    
        </section>            
        </section>    
                
        <footer th:replace= "~{layout/plantilla ::footer}"/>
    </body>
</html>