<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head th:replace= "~{layout/plantilla ::head}">
        <title>TICORGANIKO</title>
        <link rel="stylesheet" type="text/css" href="estilos.css">
    </head>
    <body>
        <header th:replace= "~{layout/plantilla ::header}"/>
         <section th:fragment="PanelProducto" id="main-header" class="py-0">           
            <div class="container" style ="margin-top: 10px;">
                <div class="row">
                    <div id="tarjetas-section" class="col-md-6" style ="margin-bottom: 20px;">
                        <h1>[[#{plantilla.licores}]]</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <div class="card">               
                            <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/282634/Guaro-Cacique-Liquido-1000ml-1-26543.jpg?v=637793374279570000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Cacique - $5</p>
                            </div>
                        </div>   
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/455456/Cerveza-Imperial-en-Lata-15-Pack-350ml-por-lata-1-31280.jpg?v=638316526675570000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Imperial - $2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/349700/Vodka-Grey-Goose-750ml-1-29804.jpg?v=638006135562430000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Vodka - $1</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/306368/Bebida-Four-Loko-Sandia-473ml-1-31225.jpg?v=637862495725630000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Four Loko - $1</p>
                                </div>
                            </div>
                    </div>                  
                </div>  
                <div th:each="articulo : ${articulos}">
                    <div class="col-3">
                        <div class="card">
                            <a th:if="${articulo != null}" th:href="@{/articulos/detalleArticulo/{idArticulo}(idArticulo=${articulo.idArticulo})}">
                                test test
                            </a>
                        </div>
                    </div>
                </div>
            </div>    
        </section>            
        </section>    
                
        <footer th:replace= "~{layout/plantilla ::footer}"/>
    </body>
</html>