<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head th:replace= "~{layout/plantilla ::head}">
        <title>TICORGANIKO</title>
        <link rel="stylesheet" type="text/css" href="estilos.css">
    </head>
    <body>
        <header th:replace= "~{layout/plantilla ::header}"/>
         <section th:fragment="PanelProducto" id="main-header" class="py-0">           
            <div class="container" style ="margin-top: 10px;">
                <div class="row">
                    <div id="tarjetas-section" class="col-md-6" style ="margin-bottom: 20px;">
                        <h1>[[#{plantilla.vegetales}]]</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <div class="card">               
                            <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/334064/Lechuga-Picada-350Gr-1-28801.jpg?v=637965418087900000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Lechuga - $5</p>
                            </div>
                        </div>   
                    </div>
                    <div class="col-3">
                        <div class="card">
                            <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/182530/Tomate-Kg-1-57409.jpg?v=637548172446000000" alt=""/>
                            <div class="card-body">
                                <p class="card-text">Tomate - $2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/164213/Cebolla-Mini-Malla-En-Red-1Kg-14-a-15-unidades-aproximadamente-1-37196.jpg?v=637536130704200000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Cebolla - $1</p>
                                </div>
                            </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                                <img class="card-img-top" src="https://walmartcr.vtexassets.com/arquivos/ids/182269/Papa-Mini-Malla-Red-1-Kg-33-A-35-Unidades-Aproximadamente-1-55472.jpg?v=637548160315670000" alt=""/>
                                <div class="card-body">
                                    <p class="card-text">Papa - $1</p>
                                </div>
                            </div>
                    </div>                  
                </div>  
                <div th:each="articulo : ${articulos}">
                    <div class="col-3">
                        <div class="card">
                            <a th:if="${articulo != null}" th:href="@{/articulos/detalleArticulo/{idArticulo}(idArticulo=${articulo.idArticulo})}">
                                test test
                            </a>
                        </div>
                    </div>
                </div>
            </div>    
        </section>            
        </section>    
                
        <footer th:replace= "~{layout/plantilla ::footer}"/>
    </body>
</html>