<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head th:replace= "~{layout/plantilla ::head}">
        <title>TICORGANIKO</title>
        <link rel="stylesheet" type="text/css" href="estilos.css">
    </head>
    <body>
    <h1>Carrito de Compras</h1>
    
    <!-- Muestra la información del artículo en el carrito -->
    <div>
        <p>Artículo en el carrito:</p>
    </div>
        <footer th:replace= "~{layout/plantilla ::footer}"/>
    </body>
</html>
