<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla ::head}">
        <title>TICORGANIKO</title>
    </head>
    <body>

        <header th:replace="~{layout/plantilla ::header}"/>

        <section id="main-content" class="py-6">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-4" id="contenedorLogin">
                        <div class="card" style="border: 2px solid #007bff; color: #000000; border-radius: 25px; background: #F7F7F7;">
                            <div class="card-body" id="cardLogin">
                                <h2 class="card-title" style="margin-top: 30px; text-align: center; margin-bottom: 50px; font-family: Arial Black, sans-serif;">Inicio de Sesión</h2>
                                <form method="POST" th:action="@{/login}">
                                    <div class="mb-3" style="margin: 20px;">
                                        <label for="username" class="form-label">[[#{login.username}]]</label><br>
                                            <div class="input-group">
                                                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                                                <input type="text" class="form-control" id="username" name="username" style="border: 1px solid #000000;" />
                                            </div>
                                    </div>
                                    <div class="mb-3" style="margin: 20px;">
                                        <label for="password" class="form-label">[[#{login.password}]]</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                                            <input type="password" class="form-control" id="password" name="password" style="border: 1px solid #000000;" />
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary" id="loginButtom">Ingresar</button>
                                </form>

                                <div th:if="${param.error != null}">
                                    <script>
                                        $(document).ready(function () {
                                            $('#myModal').modal('show');
                                        });
                                    </script>
                                </div>

                                <div class="social-login" id="socialButtoms">
                                    <img id="google" src="https://cdn.pixabay.com/photo/2015/09/14/22/59/google-plus-940316_1280.png" class="rounded-circle smaller-profile-img" alt="google" height="50"/>
                                    <img id="facebook" src="https://cdn.pixabay.com/photo/2015/05/17/10/51/facebook-770688_1280.png" class="rounded-circle smaller-profile-img" alt="facebook" height="50"/>
                                    <img id="twitter" src="https://cdn-icons-png.flaticon.com/512/124/124021.png" class="rounded-circle smaller-profile-img" alt="twitter" height="50"/>
                                </div>
                                <p class="text-center" id="resgistro">
                                    No tienes una cuenta? 
                                    <a th:href="@{/registro/nuevo}" href="/registro/nuevo">Regístrate Aquí</a>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">Error de inicio de sesión</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>[[#{error.login}]]</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="~{layout/plantilla ::footer}"/>
    </body>
</html>