<!DOCTYPE html>
<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace= "~{layout/plantilla ::head}">
        <title>TICORGANIKO</title>
    </head>
    <body>
        <header th:replace= "~{layout/plantilla :: header}"/>
        <section th:replace= "~{registro/paneles :: registroUsuario}"/>
        <footer th:replace= "~{registro/paneles :: footer2}"/>
    </body>
</html>
