
<html>
    <html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace= "~{layout/plantilla ::head}">
        <title>TICORGANIKO</title>
    </head>
    <body>
        <header th:replace= "~{layout/plantilla ::header}"/>

        <section th:fragment="PanelProducto" id="main-header" class="py-0">
            <div class = "panel-fruta">
                <img src = "https://img.freepik.com/foto-gratis/frutas-variadas-mixtas_74190-6961.jpg?w=1380&t=st=1699483105~exp=1699483705~hmac=3acc3d56f37bb628cd21876f9e34e2eebed17dc7dea3ecada77d7d3b9dad1152"
                     alt = "Frutas">
                <h5 style="color: black">Frutas</h5>
            </div>   
            
        </section>
        
        
</html>
